# Crime and Eduaction in Chicago

By Giuliana Huarcaya Borja,
Javier Fernandez and
Gabriel Prado

## 1. Crime Data

* [Link to Chicago Crime Data](https://data.cityofchicago.org/Public-Safety/Crimes-2020/qzdf-xmn8) This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from January 1 - 2020 to November 15 - 2020.

In [1]:
import pandas as pd

In [2]:
def get_data_chicago(id):
    '''
    Connect to the chicago data portal API and returns a dataframe
    '''
    
    url = f'https://data.cityofchicago.org/api/views/{id}/rows.csv?accessType=DOWNLOAD'
    df = pd.read_csv(url)
    
    return df

In [3]:
#Crime 2020
crime_2020 = get_data_chicago('qzdf-xmn8')

In [4]:
#Crime in Chicago - 2020
crime_2020.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,12214936,JD423922,11/07/2020 12:00:00 PM,016XX W FARWELL AVE,0460,BATTERY,SIMPLE,SIDEWALK,True,False,...,49.0,1,08B,NaN,NaN,2020,11/14/2020 03:50:47 PM,NaN,NaN,NaN
1,12215387,JD423835,11/07/2020 09:00:00 AM,039XX W CERMAK RD,0610,BURGLARY,FORCIBLE ENTRY,GROCERY FOOD STORE,False,False,...,24.0,29,05,NaN,NaN,2020,11/14/2020 03:50:47 PM,NaN,NaN,NaN
2,12215260,JD424534,11/07/2020 09:50:00 PM,050XX W ADDISON ST,0553,ASSAULT,AGGRAVATED POLICE OFFICER - OTHER DANGEROUS WE...,SIDEWALK,False,False,...,31.0,15,04A,NaN,NaN,2020,11/14/2020 03:50:47 PM,NaN,NaN,NaN
3,12214872,JD424148,11/07/2020 03:00:00 PM,020XX N CLARK ST,0820,THEFT,$500 AND UNDER,STREET,False,False,...,43.0,7,06,NaN,NaN,2020,11/14/2020 03:50:47 PM,NaN,NaN,NaN
4,12215097,JD424375,11/07/2020 07:00:00 PM,007XX W 63RD ST,0460,BATTERY,SIMPLE,SIDEWALK,False,False,...,16.0,68,08B,NaN,NaN,2020,11/14/2020 03:50:47 PM,NaN,NaN,NaN

In [5]:
crime_2020.shape

(180070, 22)

In [6]:
crime_2020.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [7]:
crime_2020['Primary Type'].unique()

array(['BATTERY', 'BURGLARY', 'ASSAULT', 'THEFT', 'NARCOTICS', 'ROBBERY',
       'DECEPTIVE PRACTICE', 'OTHER OFFENSE', 'WEAPONS VIOLATION',
       'CRIMINAL DAMAGE', 'SEX OFFENSE', 'MOTOR VEHICLE THEFT',
       'OFFENSE INVOLVING CHILDREN', 'CRIMINAL SEXUAL ASSAULT',
       'CRIMINAL TRESPASS', 'LIQUOR LAW VIOLATION', 'HOMICIDE',
       'PUBLIC PEACE VIOLATION', 'INTERFERENCE WITH PUBLIC OFFICER',
       'OBSCENITY', 'ARSON', 'STALKING', 'KIDNAPPING',
       'CONCEALED CARRY LICENSE VIOLATION', 'GAMBLING',
       'HUMAN TRAFFICKING', 'PROSTITUTION', 'INTIMIDATION',
       'PUBLIC INDECENCY', 'OTHER NARCOTIC VIOLATION', 'NON-CRIMINAL',
       'CRIM SEXUAL ASSAULT'], dtype=object)

## 2. Education Data

* [Link to Chicago Education Data](https://data.cityofchicago.org/Education/Chicago-Public-Schools-School-Profile-Information-/83yd-jxxw) School profile information for all schools in the Chicago Public School district for the school year 2020-2021

In [8]:
school_2020 = get_data_chicago('83yd-jxxw')
school_2020.head()

,School_ID,Legacy_Unit_ID,Finance_ID,Short_Name,Long_Name,Primary_Category,Is_High_School,Is_Middle_School,Is_Elementary_School,Is_Pre_School,...,Network,Is_GoCPS_Participant,Is_GoCPS_PreK,Is_GoCPS_Elementary,Is_GoCPS_High_School,Open_For_Enrollment_Date,Closed_For_Enrollment_Date,School_Latitude,School_Longitude,Location
0,609748,1730,49041,YORK HS,Consuella B York Alternative HS,HS,True,False,False,False,...,Network 16,False,False,False,False,09/01/2004,NaN,41.842533,-87.695261,POINT (-87.695261 41.842533)
1,400149,9640,66137,ACERO - SOTO HS,Acero Charter Schools - Victoria Soto,HS,True,False,False,False,...,Charter,True,False,False,True,07/01/2013,NaN,41.801762,-87.711025,POINT (-87.711025 41.801762)
2,610136,5500,25021,PRESCOTT,William H Prescott Elementary School,ES,False,True,True,False,...,Network 4,True,False,True,False,09/01/2004,NaN,41.928841,-87.669528,POINT (-87.669528 41.928841)
3,400077,3061,66112,U OF C - WOODLAWN HS,University of Chicago - Woodlawn,HS,True,True,True,False,...,Charter,True,False,False,True,09/01/2004,NaN,41.778130,-87.598114,POINT (-87.598114 41.77813)
4,609732,1560,46291,STEINMETZ HS,Charles P Steinmetz College Preparatory HS,HS,True,False,False,False,...,Network 14,True,False,False,True,09/01/2004,NaN,41.935634,-87.783515,POINT (-87.783515 41.935634)

In [9]:
school_2020.shape

(654, 96)

In [10]:
school_2020.columns

Index(['School_ID', 'Legacy_Unit_ID', 'Finance_ID', 'Short_Name', 'Long_Name',
       'Primary_Category', 'Is_High_School', 'Is_Middle_School',
       'Is_Elementary_School', 'Is_Pre_School', 'Summary',
       'Administrator_Title', 'Administrator', 'Secondary_Contact_Title',
       'Secondary_Contact', 'Address', 'City', 'State', 'Zip', 'Phone', 'Fax',
       'CPS_School_Profile', 'Website', 'Facebook', 'Twitter', 'Youtube',
       'Pinterest', 'Attendance_Boundaries', 'Grades_Offered_All',
       'Grades_Offered', 'Student_Count_Total', 'Student_Count_Low_Income',
       'Student_Count_Special_Ed', 'Student_Count_English_Learners',
       'Student_Count_Black', 'Student_Count_Hispanic', 'Student_Count_White',
       'Student_Count_Asian', 'Student_Count_Native_American',
       'Student_Count_Other_Ethnicity', 'Student_Count_Asian_Pacific_Islander',
       'Student_Count_Multi', 'Student_Count_Hawaiian_Pacific_Islander',
       'Student_Count_Ethnicity_Not_Available', 'Statistics_Description',
       'Demographic_Description', 'Dress_Code', 'PreK_School_Day',
       'Kindergarten_School_Day', 'School_Hours', 'Freshman_Start_End_Time',
       'After_School_Hours', 'Earliest_Drop_Off_Time', 'Classroom_Languages',
       'Bilingual_Services', 'Refugee_Services', 'Title_1_Eligible',
       'PreSchool_Inclusive', 'Preschool_Instructional',
       'Significantly_Modified', 'Hard_Of_Hearing', 'Visual_Impairments',
       'Transportation_Bus', 'Transportation_El', 'Transportation_Metra',
       'Average_ACT_School', 'Mean_ACT', 'College_Enrollment_Rate_School',
       'College_Enrollment_Rate_Mean', 'Graduation_Rate_School',
       'Graduation_Rate_Mean', 'Overall_Rating', 'Rating_Status',
       'Rating_Statement', 'Classification_Description', 'School_Year',
       'Third_Contact_Title', 'Third_Contact_Name', 'Fourth_Contact_Title',
       'Fourth_Contact_Name', 'Fifth_Contact_Title', 'Fifth_Contact_Name',
       'Sixth_Contact_Title', 'Sixth_Contact_Name', 'Seventh_Contact_Title',
       'Seventh_Contact_Name', 'Network', 'Is_GoCPS_Participant',
       'Is_GoCPS_PreK', 'Is_GoCPS_Elementary', 'Is_GoCPS_High_School',
       'Open_For_Enrollment_Date', 'Closed_For_Enrollment_Date',
       'School_Latitude', 'School_Longitude', 'Location'],
      dtype='object')

* [Link to Chicago Education Performance Data ](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t) This dataset shows all school level performance data in 2012, which has School ID and Community Area number and name.

In [11]:
school_performance = get_data_chicago('9xs2-f89t')
school_performance.head()

,School ID,Name of School,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Community Area Name,Ward,Police District,Location
0,609966,Charles G Hammond Elementary School,ES,2819 W 21st Pl,Chicago,IL,60623,(773) 535-4580,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1157809.015,1889554.623,41.852691,-87.696278,30,SOUTH LAWNDALE,12,10,"(41.85269133, -87.69627777)"
1,610539,Marvin Camras Elementary School,ES,3000 N Mango Ave,Chicago,IL,60634,(773) 534-2960,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1137482.296,1919394.900,41.934966,-87.770165,19,BELMONT CRAGIN,30,25,"(41.93496641, -87.77016525)"
2,609852,Eliza Chappell Elementary School,ES,2135 W Foster Ave,Chicago,IL,60625,(773) 534-2390,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,150000000000000,1161016.902,1934466.545,41.975867,-87.683254,4,LINCOLN SQUARE,47,20,"(41.975867, -87.68325438)"
3,609835,Daniel R Cameron Elementary School,ES,1234 N Monticello Ave,Chicago,IL,60651,(773) 534-4290,http://schoolreports.cps.edu/SchoolProgressRep...,Garfield-Humboldt Elementary Network,...,150000000000000,1151767.546,1908130.068,41.903785,-87.717963,23,HUMBOLDT PARK,26,25,"(41.90378521, -87.71796315)"
4,610521,Sir Miles Davis Magnet Elementary Academy,ES,6730 S Paulina St,Chicago,IL,60636,(773) 535-9120,http://schoolreports.cps.edu/SchoolProgressRep...,Englewood-Gresham Elementary Network,...,150000000000000,1166133.893,1859929.018,41.771222,-87.666567,67,WEST ENGLEWOOD,15,7,"(41.77122181, -87.66656657)"

## 3. Data Arrangements

In [13]:
crimes_com_area = crime_2020.groupby(["Community Area"]).size().to_frame('Count').reset_index()

In [14]:
crimes_com_area

    Community Area  Count
0                1   2816
1                2   2618
2                3   2526
3                4   1614
4                5    941
..             ...    ...
72              73   2224
73              74    393
74              75   1436
75              76    930
76              77   1993

[77 rows x 2 columns]

In [ ]:
crimes_com_area_2019.head()

In [ ]:
#crimes_com_area_2019=crimes_com_area[crimes_com_area["Year"]=="2019"]